<p style="color: green"><%= notice %></p>
<p style="color: green"><%= alert %></p>

<h1>Flights</h1>

<div class="search_form">
  <%= render "form" %>
</div>
<% unless @flight_times.empty? %>
  <%= render "search_results" %>
<% end %>
